body {
	font-family:Arial,Helvetica, sans-serif;
	margin:0;
	padding:0 5px 0;
}

h1 {
	font-family:"Arial Black", Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
}

.small {
	font-size:smaller;
	color:#444444;
}